@import "../../../../../App.scss";

.calendarRow {
  @media (min-width: $max-screen-size) {
    height: $max-cell-width;
  }
  @media (min-width: $min-screen-size) and (max-width: $max-screen-size - 1) {
    height: $min-cell-width;
  }
  align-content: start;
}

.calendarMonthYear {
  font-size: 2em;
  font-weight: bold;
  color: grey;
}

.calendarButtons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
