@import "../../../../../App.scss";

.dateCell {
  display: inline-block;
  @media (min-width: $min-screen-size) and (max-width: $max-screen-size - 1) {
    width: $min-cell-width;
  }
  @media (min-width: $max-screen-size) {
    width: $max-cell-width;
  }
  border: 1px solid grey;
  height: 100%;
  cursor: pointer;
  font-weight: bold;
  background: white;

  > div {
    padding: 5px;
  }

  &:hover {
    background: $silver-grey;
  }
}

.disabledDateCell {
  @extend .dateCell;
  color: grey;
  cursor: default;
  vertical-align: top;

  &:hover {
    background: white;
  }
}

.weekendDateCell {
  @extend .dateCell;
  background: $mercury-grey;
  color: $corn-flower-blue;
}
