.dateCell {
  display: inline-block;
  @media (min-width: 200px) and (max-width: 699px) {
    width: 10%;
  }
  @media (min-width: 700px) {
    width: 14%;
  }
  border: 1px solid black;
  text-align: start;
  height: 100%;
  cursor: pointer;
}

.disabledDateCell {
  @extend .dateCell;
  background-color: grey;
  color: green;
  cursor: default;
}
