.App {
  text-align: center;
  width: 100%;
  height: 100%;

  .calendarRow {
    @media (min-width: 700px) {
      height: 15%;
    }
    @media (min-width: 200px) and (max-width: 699px) {
      height: 10%;
    }
    align-content: start;
  }
}